.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}

.btnText{
    color: white;
}

.btnSelected{
    background-color: #1e451f;
}